In [2]:
import sqlite3 as sql

In [3]:
Cu_Re=sql.connect('CustomerReservation.db')

In [4]:

    
Cu_Re.execute('''CREATE TABLE "Customers" (
	"customers_id"	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	"name"	TEXT DEFAULT 'No Name',
	"phone"	TEXT,
	"birthday"	DATE
);''')

In [5]:
Cu_Re.execute('''CREATE TABLE "Strawberrytype" (
	"type_id"	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
	"name_of_type"	TEXT NOT NULL);''')

In [6]:
Cu_Re.execute('''CREATE TABLE "Reservation" (
	"reservation_id"	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
	"date"	DATE NOT NULL,
	"time"	TIME NOT NULL,
	"customers_id"	INTEGER NOT NULL DEFAULT 'not book yet',
	"number_of_buckets"	INTEGER NOT NULL DEFAULT 'not book yet',
	"type_of_strawberry" TEXT NOT NULL DEFAULT 'not book yet',
    FOREIGN KEY (customers_id) REFERENCES Customers(customers_id)
    FOREIGN KEY (type_of_strawberry) REFERENCES Strawberrytype(type_id)

    );''')

In [7]:
Cu_Re.execute('''INSERT into Customers (name,phone,birthday)
VALUES 
('Hochine', '0918273645','1995-03-01'),
('Hien Bui', '0449101288','2000-05-23'),
('Niko','0332312457','1999-04-21');''')

In [8]:
Cu_Re.execute('''
Insert into Strawberrytype (name_of_type)
values 
('Quinalt'),
('Jewel'),
('Northeaster');''')

In [9]:
Cu_Re.execute('''
Insert into Reservation (date, time, customers_id,number_of_buckets,type_of_strawberry)
values 
('2020-03-18','09:00:00',1,4,1),
('2020-03-18','11:00:00',1,3,2),
('2020-03-19','09:00:00',2,3,2);''')

In [1]:
%%capture
%load_ext sql
%sql sqlite:///CustomerReservation.db

In [2]:
%%sql
select *
from Customers

* sqlite:///CustomerReservation.db
Done.

[(1, 'Hochine', '0918273645', '1995-03-01'),
 (2, 'Hien Bui', '0449101288', '2000-05-23'),
 (3, 'Niko', '0332312457', '1999-04-21')]

In [3]:
%%sql
select *
from Reservation

* sqlite:///CustomerReservation.db
Done.

[(1, '2020-03-18', '09:00:00', 1, 4, '1'),
 (2, '2020-03-18', '11:00:00', 1, 3, '2'),
 (3, '2020-03-19', '09:00:00', 2, 3, '2')]

In [4]:
%%sql
select *
from Strawberrytype

* sqlite:///CustomerReservation.db
Done.

[(1, 'Quinalt'), (2, 'Jewel'), (3, 'Northeaster')]